PORT=3000
API_KEY=generar-una-api-key-larga-y-secreta
ARCA_EMISION_HABILITADA=false
DATABASE_URL="postgresql://usuario:password@localhost:5432/api_petshop?schema=public"
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=api_petshop
POSTGRES_USER=usuario
POSTGRES_PASSWORD=password
POSTGRES_SCHEMA=public
AFIP_CUIT=20379342095
AFIP_CERT="certs/facturacion Web_2191f111abc33e87.crt"
AFIP_KEY=certs/api-facturacion-petshop-produccion.key
AFIP_PRODUCTION=true
AFIP_PTO_VTA=1
AFIP_CBTE_TIPO=6
