API_HOST_PORT=3020
API_KEY=generar-una-api-key-larga-y-secreta

POSTGRES_DB=api_petshop
POSTGRES_USER=api_petshop
POSTGRES_PASSWORD=generar-password-postgres
POSTGRES_SCHEMA=api_petshop

AFIP_PRODUCTION=false
ARCA_EMISION_HABILITADA=true
ARCA_PERMITIR_PRODUCCION=false
AFIP_CUIT=20379342095
AFIP_CERT=certs/cert_homologacion.pem
AFIP_KEY=certs/api-facturacion-petshop-homologacion.key
AFIP_PTO_VTA=4
AFIP_CBTE_TIPO=6
